@charset "utf-8";

#wrap{
	display: flex;
	width: 1020px;
	height: 2000px;
	margin: 0 auto;
	font-family: 'Pretendard-Regular';
 }

header{
	display: block;
	width: 200px;
}

.mnu{
	width: 200px;
	height: 2000px;
	background-color: #020202;
}

.mnu>ul{
	display: flex;
	flex-direction: column;	
	padding-top: 280px;
	padding-left: 30px;
}

.mnu>ul>li>a{
	display: block;
	padding-left: 10px;
	color: #7b7b7b;
	font-weight: 600;
	font-size: 16px;
	line-height: 50px;
	border-bottom: 1px solid #7b7b7b;
}

.mnu>ul>li:first-child{
	border-top: 1px solid #7b7b7b;
	background-color: white;
}

.mnu>ul>li:hover>a{
	color: black;
	font-weight: 800;
	background-color: white;
}
